@import './variables.style.scss';
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
    // font-family: Arial, Helvetica, sans-serif;
    color: $rojo;
    border-color: $rojo-accent;
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
    color: white !important;
}

.bootstrap-iso .form-control:focus {
    border-color: $amarillo;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(209, 152, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(209, 152, 0, 0.6);
}

.asteriskField {
    color: red;
}

.bootstrap-iso form .input-group-addon {
    color: $amarillo;
    background-color: #811818;
    border-radius: 4px;
    padding-left: 12px;
    border-color: $red-tec;
}