<div class="bd-img">
    <h3 class="display-4 text-center">¡Bienvenido a la bolsa de trabajo!</h3>
    <div class="d-flex justify-content-md-between flex-wrap  align-items-center">
        <div class="p-2 col-md-6">

            <img class="" src="assets/tec.png" style="height: 300px; width:auto;">
        </div>
        <div class="p-2" class="col-md-6">
            <h4 align="justify">El Instituto Tecnológico de Mérida reitera el compromiso con sus estudiantes poniendo a su disposición la bolsa de trabajo de la institución, reforzando la vinculación entre los jovenes y las empresas.</h4>
            <h4 align="justify">En esta página buscamos apoyar a nuestros estudiantes y egresados facilitando su inserción laboral en alguna vacante.</h4>
        </div>

    </div>
</div>
