<div class="animated fadeIn d-flex justify-content-center align-items-center" style="height: 350px;">
    <div class="">
        <!-- <img src="assets/tec.png" style="width: 200px; height: auto;"> 
        <div style="width: 20px;">

        </div>
        <div style="width: 200px;" class="">
            <ngb-progressbar value="100" type="success"></ngb-progressbar>
        </div> -->
        <div class="text-center ">


            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p> Cargando...</p>
        </div>
    </div>
</div>