<div class="container-fluid">
    <img src="assets/header2.png" class="image-header">
</div>
<div class="background-header sticky-top" style="height: 30px;">
    <app-header></app-header>
    <div class="container main-container">
        <router-outlet></router-outlet>
    </div>

    <section class="container-fluid d-flex flex-wrap justify-content-between bottom-slide  animated fadeIn">

        <div class="mr-auto">
            <td class="align-middle p-2 icon-small"><i class="icon ion-ios-phone-portrait"> </i></td>
            <td class="align-middle p-2 ">(999) 2255-337</td>

        </div>
        <div class="">

            <td class="align-middle p-2 icon-small"><i class="icon ion-ios-mail"> </i></td>
            <td class="align-middle p-2 ">feriadelempleo@yahoo.com</td>
        </div>
    </section>
</div>