<form [formGroup]="formulario" (ngSubmit)="register(registerModal)">
  <h3>Registro de usuario</h3>
  <div class="borde-tec p-b-4"></div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Correo electrónico</label>
      <input type="email" class="form-control student" id="email" formControlName="email" placeholder="Correo"
      [class.is-invalid]="!formulario.get('email').valid && formulario.get('email').dirty"
      [class.is-valid]="formulario.get('email').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('email').hasError('required') && formulario.get('email').dirty">
      *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('email').hasError('email') && formulario.get('email').dirty">
        *Verifica que el correo electrónico esté bien escrito
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('email').hasError('emailAvailable') && formulario.get('email').dirty">
        *El correo electrónico ya está registrado.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña"
      [class.is-invalid]="!formulario.get('password').valid && formulario.get('password').dirty"
      [class.is-valid]="formulario.get('password').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('password').hasError('required') && formulario.get('password').dirty">
      *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('password').hasError('pattern') && formulario.get('password').dirty">
          *Tu contraseña no es segura
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="email_confirm">Confirma tu correo electrónico</label>
      <input type="email" class="form-control student" id="email_confirm" formControlName="email_confirm" placeholder="Confirmar Correo"
      [class.is-invalid]="(formulario.hasError('matchEmail') || !formulario.get('email_confirm').valid) && formulario.get('email_confirm').dirty"
      [class.is-valid]="formulario.get('email_confirm').valid && !formulario.hasError('matchEmail')">
      <div class="invalid-feedback" *ngIf="formulario.get('email_confirm').hasError('required') && formulario.get('email_confirm').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.hasError('matchEmail')">
        *Los campos de correo electrónico no coinciden
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="password_confirm">Repetir contraseña</label>
      <input type="password" class="form-control" id="password_confirm" formControlName="password_confirm" placeholder="Repetir Contraseña"
      [class.is-invalid]="(formulario.hasError('matchPassword') || !formulario.get('password_confirm').valid) && formulario.get('password_confirm').dirty"
      [class.is-valid]="formulario.get('password_confirm').valid && !formulario.hasError('matchPassword')">
      <div class="invalid-feedback" *ngIf="formulario.get('password_confirm').hasError('required') && formulario.get('password_confirm').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.hasError('matchPassword')">
        *Los campos de contraseña no coinciden
      </div>
    </div>
  </div>

  <h4>Datos generales del alumno</h4>
  <div class="borde-tec p-b-4"></div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="firstName">Nombre(s)</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Nombres"
      [class.is-invalid]="!formulario.get('firstName').valid && formulario.get('firstName').dirty"
      [class.is-valid]="formulario.get('firstName').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('firstName').valid && formulario.get('firstName').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="middleName">Apellido paterno</label>
      <input type="text" class="form-control" id="middleName" formControlName="middleName" placeholder="Apellido Paterno"
      [class.is-invalid]="!formulario.get('middleName').valid && formulario.get('middleName').dirty"
      [class.is-valid]="formulario.get('middleName').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('middleName').valid && formulario.get('middleName').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="lastName">Apellido materno</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Apellido Materno"
      [class.is-invalid]="!formulario.get('lastName').valid && formulario.get('lastName').dirty"
      [class.is-valid]="formulario.get('lastName').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('lastName').valid && formulario.get('lastName').dirty">
        *Campo requerido
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="mr-sm-2" for="sex">Sexo</label>
      <select class="custom-select select-tec mr-sm-2" formControlName="sex" id="sex">
        <option value="" selected disabled hidden>Elige una opción...</option>
        <option *ngFor="let gender of texts.genders" [ngValue]="gender">{{gender}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
        <label for="age">Fecha de nacimiento</label>
        <input type="date" class="form-control" formControlName="age" id="age"
        [class.is-invalid]="!formulario.get('age').valid && formulario.get('age').dirty" [class.is-valid]="formulario.get('age').valid">
        <div class="invalid-feedback" *ngIf="!formulario.get('age').valid && formulario.get('age').dirty">
          *Campo requerido
        </div>
    </div>
    <div class="form-group col-md-4">
      <label class="mr-sm-2" for="maritalStatus">Estado civil</label>
      <select class="custom-select select-tec mr-sm-2" formControlName="maritalStatus" id="maritalStatus">
      <option value="" selected disabled hidden>Elige una opción...</option>
      <option *ngFor="let maritalStatus of texts.maritalStatuses" [ngValue]="maritalStatus">{{maritalStatus}}</option>
      </select>
    </div>
  </div>

  <h4>Dirección</h4>
  <div class="borde-tec p-b-4"></div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="mainStreet">Calle principal y número</label>
      <input type="text" class="form-control" formControlName="mainStreet" id="mainStreet" placeholder="Calle"
      [class.is-invalid]="!formulario.get('mainStreet').valid && formulario.get('mainStreet').dirty"
      [class.is-valid]="formulario.get('mainStreet').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('mainStreet').valid && formulario.get('mainStreet').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="crossings">Cruzamientos</label>
      <input type="text" class="form-control" formControlName="crossings" id="crossings" placeholder="Cruzamientos"
      [class.is-invalid]="!formulario.get('crossings').valid && formulario.get('crossings').dirty"
      [class.is-valid]="formulario.get('crossings').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('crossings').valid && formulario.get('crossings').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="postalCode">Código postal</label>
      <input type="text" class="form-control" formControlName="postalCode" id="postalCode" placeholder="Código Postal"
      [class.is-invalid]="!formulario.get('postalCode').valid && formulario.get('postalCode').dirty"
      [class.is-valid]="formulario.get('postalCode').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('postalCode').hasError('required') && formulario.get('postalCode').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('postalCode').hasError('pattern') && formulario.get('postalCode').dirty">
          *Verifica que el código postal está bien escrito
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('postalCode').hasError('max') && formulario.get('postalCode').dirty">
          *Verifica que el código postal está bien escrito
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="city666">Ciudad</label>
      <input type="text" class="form-control" formControlName="city" id="city" placeholder="Ciudad"
      [class.is-invalid]="!formulario.get('city').valid && formulario.get('city').dirty"
      [class.is-valid]="formulario.get('city').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('city').valid && formulario.get('city').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="municipality">Municipio</label>
      <input type="text" class="form-control" formControlName="municipality" id="municipality" placeholder="Municipio"
      [class.is-invalid]="!formulario.get('municipality').valid && formulario.get('municipality').dirty"
      [class.is-valid]="formulario.get('municipality').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('municipality').valid && formulario.get('municipality').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="state">Estado</label>
      <input type="text" class="form-control" formControlName="state" id="state" placeholder="Estado"
      [class.is-invalid]="!formulario.get('state').valid && formulario.get('state').dirty"
      [class.is-valid]="formulario.get('state').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('state').valid && formulario.get('state').dirty">
        *Campo requerido
      </div>
    </div>
  </div>


  <h4>Datos Académicos </h4>
  <div class="borde-tec p-b-4"></div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="idStudent">Matrícula</label>
      <input type="text" class="form-control" formControlName="idStudent" id="idStudent" placeholder="Matrícula"
      [class.is-invalid]="!formulario.get('idStudent').valid && formulario.get('idStudent').dirty"
      [class.is-valid]="formulario.get('idStudent').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('idStudent').hasError('required') && formulario.get('idStudent').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('idStudent').hasError('pattern') && formulario.get('idStudent').dirty">
          *Verifica que la matrícula esté bien escrita
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('idStudent').hasError('maxlength') && formulario.get('idStudent').dirty">
          *Verifique la longitud de la matrícula.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="mr-sm-2" for="bachelor">Carrera de egreso</label>
      <select class="custom-select select-tec mr-sm-2" formControlName="bachelor" id="bachelor">
        <option value="" selected disabled hidden>Elige una carrera...</option>
        <option *ngFor="let bachelor of texts.bachelors" [ngValue]="bachelor.value">{{bachelor.name}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="!formulario.get('bachelor').valid && formulario.get('bachelor').dirty">
        *Campo requerido
      </div>
    </div>
    <div class="form-group col-md-5">
      <label for="speciality">Especialidad</label>
      <input type="text" class="form-control" formControlName="speciality" id="speciality" placeholder="Especialidad">
      <!-- <input type="text" class="form-control" formControlName="speciality" id="speciality" placeholder="Especialidad"
      [class.is-invalid]="!formulario.get('speciality').valid && formulario.get('speciality').dirty"
      [class.is-valid]="formulario.get('speciality').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('speciality').valid && formulario.get('speciality').dirty">
        *Campo requerido
      </div> -->
    </div>
    <div class="form-group col-md-6">
      <label for="master">Maestría</label>
      <input type="text" class="form-control" formControlName="master" id="master" placeholder="Maestría">
      <!-- <input type="text" class="form-control" formControlName="master" id="master" placeholder="Maestría"
      [class.is-invalid]="!formulario.get('master').valid && formulario.get('master').dirty"
      [class.is-valid]="formulario.get('master').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('master').valid && formulario.get('master').dirty">
        *Campo requerido
      </div> -->
    </div>
    <div class="form-group col-md-6">
      <label for="phd">Doctorado</label>
      <input type="text" class="form-control" formControlName="phd" id="phd" placeholder="Doctorado">
      <!-- <input type="text" class="form-control" formControlName="phd" id="phd" placeholder="Doctorado"
      [class.is-invalid]="!formulario.get('phd').valid && formulario.get('phd').dirty"
      [class.is-valid]="formulario.get('phd').valid">
      <div class="invalid-feedback" *ngIf="!formulario.get('phd').valid && formulario.get('phd').dirty">
        *Campo requerido
      </div> -->
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      Inglés(%)
    </div>
    <div class="form-group col-md-4">
      <label for="spoken">Hablado</label>
      <input type="number" class="form-control" min="0" max="100" formControlName="spoken" id="spoken" placeholder="Hablado"
      [class.is-invalid]="!formulario.get('spoken').valid && formulario.get('spoken').dirty"
      [class.is-valid]="formulario.get('spoken').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('spoken').hasError('required') && formulario.get('spoken').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('spoken').hasError('min') && formulario.get('spoken').dirty">
          *No se puede tener porcentajes negativos
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('spoken').hasError('max') && formulario.get('spoken').dirty">
          *No se puede tener porcentajes mayores al 100%
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="written">Escrito</label>
      <input type="number" class="form-control" min="0" max="100" formControlName="written" id="written" placeholder="Escrito"
      [class.is-invalid]="!formulario.get('written').valid && formulario.get('written').dirty"
      [class.is-valid]="formulario.get('written').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('written').hasError('required') && formulario.get('written').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('written').hasError('min') && formulario.get('written').dirty">
          *No se puede tener porcentajes negativos
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('written').hasError('max') && formulario.get('written').dirty">
          *No se puede tener porcentajes mayores al 100%
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="translation">Traducción</label>
      <input type="number" class="form-control" min="0" max="100" formControlName="translation" id="translation" placeholder="Traducción"
      [class.is-invalid]="!formulario.get('translation').valid && formulario.get('translation').dirty"
      [class.is-valid]="formulario.get('translation').valid">
      <div class="invalid-feedback" *ngIf="formulario.get('translation').hasError('required') && formulario.get('translation').dirty">
        *Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('translation').hasError('min') && formulario.get('translation').dirty">
          *No se puede tener porcentajes negativos
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('translation').hasError('max') && formulario.get('translation').dirty">
          *No se puede tener porcentajes mayores al 100%
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="">Curriculum</label>
      <div class="custom-file">
          <input type="file" accept="application/pdf" class="custom-file-input" (change)="onFileChange($event.target.files)">
          <ng-container *ngIf="file; else noFile">
            <label class="custom-file-label" for="customFile">{{file.name}}</label>
          </ng-container>
          <ng-template #noFile>
            <label class="custom-file-label" for="customFile"><i class="fa fa-upload"></i> Elija su CV</label>
          </ng-template>
      </div>
      <div *ngIf="fileError.unsupported">
          *Seleccione un archivo pdf por favor.
      </div>
      <div *ngIf="fileError.size">
          *El tamaño del archivo debe ser menor a 1mb.
      </div>
    </div>
  </div>


  <!-- Botones -->
  <div class="form-row">
    <div class="col-md-5 p-2">
      <!-- <button type="submit" class="text-center btn btn-rojo col-md-12">Registrarte</button> -->
      <button type="submit" [disabled]="!formulario.valid || !file" class="text-center btn btn-rojo col-md-12">Registrarte</button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 p-2">
      <button type="button" class="text-center btn btn-morado col-md-12" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</form>


<!-- Modal para guardar los cambios -->
<ng-template #registerModal let-c="close()" let-d="dismiss()">
    <div class="modal-header">
        <h4 class="modal-title">Guardar cambios</h4>
        <button type="button" class="close" (click)="d" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <h6>{{modalMessage}}</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-morado" (click)="d">Cancelar</button>
      <button type="button" class="btn btn-info" (click)="c">Guardar</button>
    </div>
</ng-template>

