<ng-container *ngIf="(authService.user | async ) as user; else loading">
  <form [formGroup]="formulario" (ngSubmit)="register(user.uid, modalGuardar)">
    <h3>Datos del puesto</h3>
    <div class="borde-tec p-b-4"></div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="position">Puesto</label>
        <input type="text" class="form-control" id="position" formControlName="position" placeholder="Nombre del puesto"
        [class.is-invalid]="!formulario.get('position').valid && formulario.get('position').dirty"
        [class.is-valid]="formulario.get('position').valid">
        <div class="invalid-feedback" *ngIf="!formulario.get('position').valid && formulario.get('position').dirty">
          *Campo requerido
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="">Descripción</label>
        <textarea class="form-control" formControlName="description" aria-label="With textarea"
        placeholder="Descripción del puesto"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="mr-sm-2" for="economicType">Tipo de remuneración económica</label>
        <select class="custom-select select-tec mr-sm-2" formControlName="economicType" id="economicType">
          <option value="" selected disabled hidden>Elige una opción...</option>
          <option value="Salario mensual">Salario mensual</option>
          <option value="Apoyo económico">Apoyo económico</option>
        </select>
      </div>
      <div class="form-group col-md-4">
          <label for="economicAmount">Cantidad</label>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" min="1000" max="99999" id="economicAmount" formControlName="economicAmount" placeholder="Cantidad"
              [class.is-invalid]="!formulario.get('economicAmount').valid && formulario.get('economicAmount').dirty"
              [class.is-valid]="formulario.get('economicAmount').valid">
              <div class="invalid-feedback" *ngIf="!formulario.get('economicAmount').valid && formulario.get('economicAmount').dirty">
                *Campo requerido
              </div>
              <!-- <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div> -->
            </div>
      </div>
      <div class="form-group col-md-4">
        <label for="weeklyHours">Horas a la semana</label>
        <input type="number" class="form-control" min="10" max="48" id="weeklyHours" formControlName="weeklyHours" placeholder="Horas a la semana"
        [class.is-invalid]="!formulario.get('weeklyHours').valid && formulario.get('weeklyHours').dirty"
        [class.is-valid]="formulario.get('weeklyHours').valid">
        <div class="invalid-feedback" *ngIf="!formulario.get('weeklyHours').valid && formulario.get('weeklyHours').dirty">
          *Campo requerido
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="experience">Años de experiencia</label>
        <input type="number" class="form-control" min="0" max="10" id="experience" formControlName="experience" placeholder="Años de experiencia"
        [class.is-invalid]="!formulario.get('experience').valid && formulario.get('experience').dirty"
        [class.is-valid]="formulario.get('experience').valid">
        <div class="invalid-feedback" *ngIf="!formulario.get('experience').valid && formulario.get('experience').dirty">
          *Campo requerido
        </div>
      </div>
      <div class="form-group col-md-6">
          <label for="vacantNumber">Número de vacantes</label>
          <input type="number" class="form-control" min="1" max="10" id="vacantNumber" formControlName="vacantNumber" placeholder="Número de vacantes"
          [class.is-invalid]="!formulario.get('vacantNumber').valid && formulario.get('vacantNumber').dirty"
          [class.is-valid]="formulario.get('vacantNumber').valid">
                    <div class="invalid-feedback" *ngIf="!formulario.get('vacantNumber').valid && formulario.get('vacantNumber').dirty">
          *Campo requerido
        </div>
      </div>
    </div>

    <h4>Perfil deseado</h4>
    <div class="borde-tec p-b-4"></div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-12">
        Inglés(%)
      </div>
      <div class="form-group col-md-4">
        <!-- <label for="">Hablado</label> -->
        <input type="number" class="form-control" min="0" max="100" formControlName="spoken" placeholder="Hablado (%)"
        [class.is-invalid]="!formulario.get('spoken').valid && formulario.get('spoken').dirty"
        [class.is-valid]="formulario.get('spoken').valid && formulario.get('spoken').dirty">
        <div class="invalid-feedback" *ngIf="!formulario.get('spoken').valid && formulario.get('spoken').dirty">
          *Campo requerido
        </div>
      </div>
      <div class="form-group col-md-4">
        <!-- <label for="">Escrito</label> -->
        <input type="number" class="form-control" min="0" max="100" formControlName="written" placeholder="Escrito (%)"
        [class.is-invalid]="!formulario.get('written').valid && formulario.get('written').dirty"
        [class.is-valid]="formulario.get('written').valid && formulario.get('written').dirty && formulario.get('written').value">
        <div class="invalid-feedback" *ngIf="!formulario.get('written').valid && formulario.get('written').dirty">
          *Campo requerido
        </div>
      </div>
      <div class="form-group col-md-4">
        <!-- <label for="">Traducción</label> -->
        <input type="number" class="form-control" min="0" max="100" formControlName="translation" placeholder="Traducción (%)"
        [class.is-invalid]="!formulario.get('translation').valid && formulario.get( 'translation').dirty"
        [class.is-valid]="formulario.get('translation').valid && formulario.get('translation').dirty">
        <div class="invalid-feedback" *ngIf="!formulario.get('translation').valid && formulario.get('translation').dirty">
          *Campo requerido
        </div>
      </div>
    </div>

    <div class="form-row">
      <label class="mr-sm-2" for="carrera">Carrera de egreso</label>
      <div class="input-group">
        <div formArrayName="bachelors">
          <div class="container-fluid d-flex" *ngFor="let bachelors of formulario.controls['bachelors'].controls let i = index">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-danger" type="button" (click)="eliminarcarrera(i)" ngbTooltip="Eliminar licenciatura">
                  <i class="icon icon-visualizar ion-ios-trash p-2"></i></button>
              </div>
              <select class="custom-select select-tec mr-sm-2" [formControlName]="i">
                <option value="" selected disabled hidden>Elige una opción...</option>
                <option [value]="bachelor.value" *ngFor="let bachelor of texts.bachelors">{{bachelor.name}}</option>
              </select>
            </div>
          <br><br>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="form-row">
      <div class="col-md-12">
        <button type="button" class="btn btn-rojo" (click)="agregarcarrera()"><i class="icon icon-visualizar ion-ios-add p-2">
        </i> Agregar carrera al perfil</button>
      </div>
    </div>
    <br>

    <div class="form-row">
      <label class="mr-sm-2" for="aptitud">Aptitudes</label>
      <div class="input-group">
        <div formArrayName="aptitudes">
          <div class="container-fluid d-flex" *ngFor="let aptitud of formulario.controls['aptitudes'].controls let i = index">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-danger" type="button" id="button-addon1" (click)="eliminaraptitud(i)" ngbTooltip="Eliminar Aptitud">
                  <i class="icon icon-visualizar ion-ios-trash p-2"></i>
                </button>
              </div>
              <!-- <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"> -->
              <input type="text" class="form-control" [formControlName]="i" placeholder="Aptitud"
              [class.is-invalid]="!formulario.get('aptitudes').valid && formulario.get('aptitudes').dirty"
              [class.is-valid]="formulario.get('aptitudes').valid">
              <div class="invalid-feedback" *ngIf="!formulario.get('aptitudes').valid && formulario.get('aptitudes').dirty">
                *Campo requerido
              </div>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12">
        <button type="button" class="btn btn-rojo" (click)="agregaraptitud()">
          <i class="icon icon-visualizar ion-ios-add p-2"> </i> Agregar aptitud al perfil
        </button>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-5 p-2">
          <button type="submit" [disabled]="!formulario.valid" class="text-center btn btn-rojo col-md-12">Registrar</button>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5 p-2">
          <button type="button" (click)="cancel()" class="text-center btn btn-morado col-md-12">Cancelar</button>
      </div>
    </div>
  </form>
</ng-container>


<ng-template #modalGuardar let-c="close()" let-d="dismiss()">
    <!-- <div class="modal fade"> -->
    <!-- <div class="modal-content"> -->
    <div class="modal-header">
        <h4 class="modal-title">Guardar cambios</h4>
        <button type="button" class="close" (click)="d" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <h6>{{mensaje_modal}}</h6>
    </div>
    <div class="modal-footer">
        <!-- <a (click)="d()" class="btn btn-info" data-dismiss="modal">Cancelar</a> -->
        <!-- <a (click)="c()" class="btn btn-verde">Guardar</a> -->
        <button type="button" class="btn btn-morado" (click)="d">Cancelar</button>
        <button type="button" class="btn btn-info" (click)="c">Guardar</button>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</ng-template>

<!-- Loading template -->
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
