@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../../styles/variables.style.scss';
.icon-aprobar {
    color: $success;
    font-size: 25px;
}

.icon-visualizar {
    color: $primary;
    font-size: 25px;
}

.icon-eliminar {
    color: $danger;
    font-size: 25px;
}

.ion-ios-alert {
    color: #ffffff;
}

.actions .btn {
    margin-left: 5px;
    margin-bottom: 5px;
}

.borde-tec {
    border-bottom: 3px solid $red-tec;
}

h4 {
    color: $rojo-accent!important;
}
